@import "../../colors";
@import "../../fonts";

$quick-start-height: 40px;
$quick-start-spacing: 16px;

.quick-start {
    padding: 32px 0;
    display: flex;
    align-items: center;

    &__command {
        flex: 0 0 auto;
        font-family: $font-code;
        background-color: $main;
        line-height: $quick-start-height;
        padding: 0 18px;
        border-radius: 4px;
    }

    &__link {
        flex: 0 0 auto;
        height: $quick-start-height;

        & + & {
            margin-left: $quick-start-spacing;
        }
    }

    &__image {
        max-height: $quick-start-height;
    }

    &__command + &__link {
        margin-left: $quick-start-spacing;
    }
}
