@import "../../colors";
@import "../../fonts";

.title {
    padding: 96px 0;
    background-color: $main-dark;

    .content-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    &__image + &__group {
        margin: 0 96px;
    }

    &__image {
        width: 550px;
    }

    &__text {
        color: $main-lightest;
        font-family: $font-accent;
        font-size: 48px;
        font-weight: 700;
    }
}
