@import "../../colors";
@import "../../fonts";

.title {
    padding: 96px 0;

    .content-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__image {
        width: 400px;
    }

    &__text {
        width: 600px;
        font-family: $font-accent;
        font-size: 48px;
        text-align: center;
    }
}
