$background: hsl(40, 5%, 97%);

$main-darkest: hsl(0, 0%, 15%);
$main-dark: hsl(0, 0%, 20%);
$main-darker: hsl(0, 0%, 35%);
$main: hsl(0, 0%, 93%);
$main-light: hsl(0, 0%, 97%);
$main-lightest: hsl(0, 0%, 100%);

$accent: hsl(40, 99%, 60%);
$accent-dark: hsl(30, 99%, 35%);
