$background: hsl(210, 40%, 97%);

$darkest-gray: hsl(0, 0%, 20%);
$dark-gray: hsl(0, 0%, 20%);
$darker-gray: hsl(0, 0%, 55%);
$gray: hsl(0, 0%, 93%);
$light-gray: hsl(0, 0%, 97%);
$lightest-gray: hsl(0, 0%, 100%);

$accent: hsl(40, 99%, 60%);
