@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Mono|Roboto+Slab&display=swap");

$font-main: "Open Sans", Helvetica, sans-serif;
$font-accent: "Roboto Slab", serif;
$font-code: "Roboto Mono", monospace;
