@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Mono|Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap");

$font-main: "Open Sans", Helvetica, sans-serif;
$font-accent: "Montserrat", serif;
$font-code: "Roboto Mono", monospace;
