@import "../../fonts";

.feature {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__image {
    max-width: 200px;
    flex-grow: 1;
  }

  &__description {
    width: 20em;
    line-height: 1.5em;
    font-family: $font-main;
  }

  &--image-on-right {
    flex-direction: row-reverse;
  }
}
