.feature {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightyellow;

  &__image {
    max-width: 150px;
    flex-grow: 1;
  }

  &__description {
    width: 50%;
  }
}
