@import "../../colors";
@import "../../fonts";
@import "../../breakpoints";

.terminal {

    padding: 32px 0;

    &__window {
        max-width: 768px;
        margin: 0 auto;
        border-radius: 8px;
        padding: 24px;
        background-color: $main-darkest;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);

        @include for-tablet {
            max-width: 400px;
        }
    }

    &__line {
        color: white;
        font-family: $font-code;
        line-height: 1.5em;
        margin-bottom: 0;

        @include for-tablet {
            white-space: pre-wrap;
            word-break: break-word;
        }

        @include for-mobile {
            font-size: 14px;
        }
    }

    &__line--response {
        color: hsl(0, 0%, 60%);
    }

    &__controls-image {
        height: 16px;
        margin-bottom: 8px;

        @include for-mobile-small {
            height: 12px;
        }
    }
}
