@import "../../colors";
@import "../../fonts";

.toggle {
    display: flex;

    &__button {
        font-family: $font-main;
        font-size: 14px;
        flex-grow: 1;
        background-color: $main;
        border: none;

        line-height: 36px;
    }

    &__button:focus {
        outline: none;
    }

    &__button + &__button {
        border-left: 2px solid $main-darker;
    }

    &__button:first-of-type {
        border-radius: 16px 0 0 16px;
    }

    &__button:last-of-type {
        border-radius: 0 16px 16px 0;
    }

    &__button--toggled {
        background-color: $main;
        box-shadow: 0 0 4px 1px inset rgba(0, 0, 0, 0.3);
    }
}
