@import "../../colors";
@import "../../fonts";
@import "../../dimensions";

.header {
    height: $header-size;
    background: $accent;

    &__text {
        color: black;
        font-family: $font-main;
        font-size: 28px;
        font-weight: 600;
        line-height: $header-size;
    }
}
