@import "../../colors";
@import "../../fonts";

.quick-start {
    padding: 32px 0;
    background-color: $dark-gray;

    .content-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__command {
        flex: 0 0 auto;
        font-family: $font-code;
        background-color: $gray;
        line-height: 40px;
        padding: 0 8px;
        border-radius: 4px;
    }

    &__link {
        flex: 0 0 auto;
        height: 40px;

        & + & {
            margin-left: 8px;
        }
    }

    &__image {
        max-height: 40px;
    }

    &__command + &__link {
        margin-left: 8px;
    }
}
