@import "../../colors";

.quick-start {

  .content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__command {
    background-color: $gray;
    line-height: 40px;
    padding: 0 8px;
  }

  &__link {
    height: 40px;
    padding-left: 8px;
  }

  &__image {
    max-height: 40px;
  }
}
