@import "../../breakpoints";

.content-wrapper {
    max-width: 1200px;
    margin: 0 auto;

    @media (max-width: $breakpoint-large) {
        max-width: 900px;
    }

    @media (max-width: $breakpoint-small) {
        max-width: 640px;
    }
}
